@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.login {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


header {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    margin-top: 30px;
}

h1 {
    display: flex;
    font-size: 50px;
    justify-content: center;

}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    background-color: #e9ecef;
    box-shadow: 5px 5px 5px #bac1c9;;

}

label {
    margin-bottom: 5px;
    font-size: 25px;
}

input {
    width: 300px;
    margin-bottom: 20px;
    height: 30px;
    padding-left: 5px;
}
/*
input[type="submit"] {
    margin: auto;
    font-size: 55px;
    cursor: pointer;
   

}

input[type="button"] {
    margin: auto;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;


}*/

#btn-senha{
    cursor: pointer;
}